In [2]:
import pandas as pd

cars_list = ["Mercedes", "BMW", "Audi"]
print("Printing cars_list")
print(cars_list)
print()

Printing cars_list
['Mercedes', 'BMW', 'Audi']

In [3]:
# Creating a Pandas Series using 1 simple python list
cars_series = pd.Series(cars_list)
print("Printing cars_series:")
print(cars_series)
print()
print("Third car in the cars_series is:", cars_series[2])

Printing cars_series:
0    Mercedes
1         BMW
2        Audi
dtype: object

Third car in the cars_series is: Audi

In [4]:
cars_models = ["C Class", "4 Series", "Q5"]
# Creating a Pandas Series using 2 python lists: First list for values, second list for index/labels
cars_series_with_labels = pd.Series(cars_list, cars_models)
print("Printing cars_series_with_labels:")
print(cars_series_with_labels)
print()
print("Third car in the cars_series_with_labels is:", cars_series_with_labels["Q5"])

Printing cars_series_with_labels:
C Class     Mercedes
4 Series         BMW
Q5              Audi
dtype: object

Third car in the cars_series_with_labels is: Audi

In [5]:
cars_dictionary = {
    "C Class": "Mercedes",
    "3 Series": "BMW",
    "Q5": "Audi"
}
print("Printing cars_dictionary:")
print(cars_dictionary)

Printing cars_dictionary:
{'C Class': 'Mercedes', '3 Series': 'BMW', 'Q5': 'Audi'}

In [6]:
# Creating a Pandas Series using a single python dictionary
cars_series_with_labels_2 = pd.Series(cars_dictionary)
print(cars_series_with_labels_2)

C Class     Mercedes
3 Series         BMW
Q5              Audi
dtype: object

In [9]:
# Example of a dictionary that has 2 lists as values
car_price_table = {
    "cars": ["Mercedes", "BMW", "Lamborghini", "Renault"],
    "prices": [35000, 40000, 150000, 11000]
}
# Example of accessing the car_price_table dictionary
print("car_price_table:", car_price_table, type(car_price_table))
print("car_price_table['cars']:", car_price_table['cars'], type(car_price_table['cars']))
print("car_price_table['cars'][1]:", car_price_table['cars'][1], type(car_price_table['cars'][1]))
print("car_price_table['prices'][2]:", car_price_table['prices'][2], type(car_price_table['prices'][2]))

car_price_table: {'cars': ['Mercedes', 'BMW', 'Lamborghini', 'Renault'], 'prices': [35000, 40000, 150000, 11000]} <class 'dict'>
car_price_table['cars']: ['Mercedes', 'BMW', 'Lamborghini', 'Renault'] <class 'list'>
car_price_table['cars'][1]: BMW <class 'str'>
car_price_table['prices'][2]: 150000 <class 'int'>

In [13]:
car_price_dataframe = pd.DataFrame(car_price_table)
print(car_price_dataframe)

          cars  prices
0     Mercedes   35000
1          BMW   40000
2  Lamborghini  150000
3      Renault   11000

In [16]:
row3 = car_price_dataframe.loc[3]
print(row3)

cars      Renault
prices      11000
Name: 3, dtype: object

In [18]:
expensive_cars = car_price_dataframe.loc[[1,2]]
print(expensive_cars)

          cars  prices
1          BMW   40000
2  Lamborghini  150000